@import url(https://fonts.bunny.net/css?family=roboto:100,100i,300,300i,400,400i,500,500i,700,700i);
@import url(https://fonts.bunny.net/css?family=inria-serif:300,300i,400,400i,700,700i);

:root {
  --tot-c: #ffd2b3;
  --main-c: #ffa469;
  --sec-c: #FF8157;
  --thi-c: #bee4d6;
  --acc-c: #AD3E18;
}

.f-p {
  font-family: 'Roboto', sans-serif;
}

.f-s {
  font-family: 'Inria Serif', serif;
}

.bgmy1 {
  background-color: var(--tot-c);
}

.bgmy2 {
  background-color: var(--main-c);
}

.bgmy3 {
  background-color: var(--sec-c);
}

.bgmy4 {
  background-color: var(--thi-c);
}
.bgmy5 {
  background-color: var(--acc-c);
}

.tx-link{
color: #bee4d6
}
.tx-color{
  color: #AD3E18;
}

.hero-image {
  background-image: url("../../public/img/online2.png");  
  background-size:cover;
  min-height: 400px;
  height: 100%;
  max-width: 100%;
}

.hero-text {
  /* position: relative;
  top: 25%;
  left: 73%;
  transform: translate(-50%, -50%); */
  color: black;
}

.hero-text h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

.hero-text p {
  font-size: 18px;
}

.bgoutline3 {
  border-color: #07ad87;
  color: #07ad87;
  
}


.logoimg {
  border-radius: 50%;
}


.card:hover {
  transform: scale(1.05);
} 

.upper-nav {
  height: 40%;
  border-right: 2px #ffa469 solid;
}

.botton-nav {
  height: 60%;
  border-left: 2px #ffd2b3 solid;
}

.card-border {
  background-color: #fff;
  border: 2px solid #ffd2b3;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px #AD3E18;
}

.card-login {
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 1px solid #ffd2b3;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 21px -12px #AD3E18;
  }

.card-content {
  text-align: center;
}

h3 {
  margin-top: 0;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;

}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ffa469;
  border-radius: 4px;
}

button {
  padding: 10px;
  color: #FF8157;
  border: #FF8157;
  border-radius: 4px;
  cursor: pointer;
}

.color-category {
  border: 1px solid #ffa469;
  border-radius: 4px;
}

.img-preview {
  width:200px;
  /* height: 200px; */
}

.immagine {
  background-image: url("../../public/img/work_in_porgress_.jpg");  
  min-height: 425px;
  height: 100%;
  max-width: 100%;
}